.fundoLogin {
    background-image: url("https://ik.imagekit.io/pedrolazzz/tigela-de-salmao-deliciosa-de-alto-angulo-dentro-de-casa.jpg?updatedAt=1755006498075");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: right;
}